<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ember-answers-ui</a>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container">
  ember-answers-ui v{{App.VERSION}}
</div>
